
h3,h5{
    font-family: "Prompt", arial, tahoma;
}
h5{
    font-size: 0.9vw;
    color: #333;
}
#newprod,h3{
    font-size: 1.4vw;
    color: #333;
}
#newprod{
    font-weight: 600;
}
#kirin{
    width: 100%;
    
    
}
#pic1{
    width: 100%;
    transition: 0.5s;
}
#pic2{
    width: 100%;
    transition: 0.5s;
}

#pic3{
    width: 100%;
    
    transition: 0.5s;
}
#pic4{
    width: 99.4%;
   
}
.img-hover-zoom {
    
    overflow: hidden; 
  }
  

  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  

  .img-hover-zoom:hover img {
    transform: scale(1.1);
  }
#title{
    position: absolute;
    z-index: 1;
}
#shopnow{
    
    color:#AE0496;
    border: solid;
    border-width: 1px;
    border-color: #AE0496;
    transition: 0.5s;
}
#shopnow:hover{
    
    color:#AE0496;
    border: solid;
    border-width: 1px;
    border-color: #AE0496;
    background-color: white;
}
#shopnow2{
    
    color:white;
    border: solid;
    border-width: 1px;
    border-color: white;
    transition: 0.5s;
}
#shopnow2:hover{
    
    color:#AE0496;
    border: solid;
    border-width: 1px;
    border-color: white;
    background-color: white;
}
A {text-decoration: none;}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #AE0496;
    border: none;
    font-size: 0.6vw;
    color: white;
    padding:7px 20px;
    text-decoration: none;
   
    cursor: pointer;
    font-family: "Prompt", arial, tahoma;
  }

  ::placeholder {
    font-family: "Prompt", arial, tahoma;
  }
  #subs{
      width: 27vw;
      padding: 2%;
    background-color: #F4F4F4;
    box-shadow: black;
  }
  #subsbg{
      background-image: url("bg_newslater.png");
      
  }
  #fname{
 
      width: 60%;
      transform: translateY(2px);
  }
#footer-info{
    font-size: 70%;
    margin: 0.5%;
    padding-left: 7%;
    transition: 0.5s;
    font-family: "Prompt", arial, tahoma;
}
#footer-info:hover{
    color: #AE0496;
}

#newprod{
  font-size: 100%;
  margin-bottom: 0.5%;

  
  transition: 0.5s;
  font-family: "Prompt", arial, tahoma;
  
  
}
#newprod:hover{
  color: #AE0496;
}
#newprod2{
  font-size: 150%;
  margin-bottom: 0.5%;
  font-weight: 500;
  
  transition: 0.5s;
  font-family: "Prompt", arial, tahoma;
  
  
}
#footer-info2{
    font-size: 70%;
    margin-bottom: 0.5%;

    padding-left: 23%;
    transition: 0.5s;
    font-family: "Prompt", arial, tahoma;
    
    
}
#footer-info2:hover{
    color: #AE0496;
}
#footer-info3{
    font-size: 70%;
    margin-bottom: 0.5%;

    padding-left: 23%;
    transition: 0.5s;
    font-family: "Prompt", arial, tahoma;
    
    
}
#social{
    transition: 0.3s;
    padding: 0%;
    width: 5%;
    height: 5%;
    margin-left:10px; 
}
#social:hover{
    cursor: pointer;
    opacity: 0.7;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: #AE0496;
    cursor: pointer;
    padding-left: 9px;
    padding-right: 9px;
    
    transition: 0.5s;
    animation: slidein 0.2s forwards;
  }
  #myBtn:hover{
    background-color: #000000;
    color: #ffffff;
  }
  
  @keyframes slidein{
    from {bottom: 0px;}
    to {bottom: 20px;}
  }
 
  
  #myBtn:hover {
    background-color: #555;
  }
  img{
    width: 100%;
    
}



.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
.carousel-control-prev-icon{
background-color: #AE0496;
}
.card {


width: 100%;

}
.carousel-control-prev{
transform: translateX(-40%);
}
.carousel-control-next{
transform: translateX(40%);
}
#addtocart{
  width: 100%;
  padding: 5%;
  background-color: #AE0496;
  color:#ffffff;
    border: solid;
    border-width: 1px;
    border-color: #AE0496;
    transition: 0.5s;
}
#addtocart:hover{
  background-color: #383838;
  border-color: #383838;
}
.subbutton{
  transition: 0.5s;
}
.subbutton:hover{
  background-color: #383838;
  border-color: #383838;
}
.centered {
  position: absolute;
  top:16%;
  left: 0%;

}

.more::before {
  content: ">";
  padding-left: 20px;
  padding-right: 20px;

}
.table {
  cursor: pointer;
}

.table:hover {
  color: purple;
}
#home{
  color: #000;
  transition: 0.5s;
}
#home:hover{
  color: #AE0496;
}
#photography{
  color: #000;
  transition: 0.5s;
}
#photography:hover{
  color: #AE0496;
}
#future{
  color: #000;
  transition: 0.5s;
}
#future:hover{
  color: #AE0496;
}
#steamer{
  color: #000;
  transition: 0.5s;
}
#steamer:hover{
  color: #AE0496;
}
.quotation-mark{

margin-top: -10px;
font-weight: bold;
font-size:100px;
color:rgb(0, 0, 0);



}
blockquote{
background-color: rgb(240, 240, 240);
}
